@inherits PersonListBase
@page "/people"


<PageTitle>People</PageTitle>

<div class="row">
    <div class="col">
        <div class="form-group">
            <h3>People</h3>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="form-group">
            <button type="button" class="btn btn-primary" @onclick=AddNewClicked>Add New</button>
        </div>
    </div>
</div>


<MudDataGrid Items="@Model">
    <Columns>
        <PropertyColumn Property="x => x.FirstName" Title="First Name" />
        <PropertyColumn Property="x => x.LastName" Title="Last Name" />
        <PropertyColumn Property="x => x.EmailAddress" Title="Email Address" />

        <TemplateColumn StickyRight="true">
            <CellTemplate>
                <MudIconButton Icon="@Icons.Material.Outlined.Edit" Size="@Size.Small" OnClick="@(() => EditRecord(context.Item))" />
            </CellTemplate>
        </TemplateColumn>
    </Columns>
</MudDataGrid>