@inherits PersonEditBase

@page "/people/new"
@page "/people/{Id:int}"

<PageTitle>@($"People[{Id}]")</PageTitle>

<div class="container-create form-width">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <h3>People</h3>
            </div>
        </div>
    </div>


    <EditForm Model="Model" OnSubmit="SubmitForm">
    <Blazored.FluentValidation.FluentValidationValidator />

    
    <div class="row">
        <div class="col">
            <div class="form-group">
                <MudTextField @bind-Value="Model.FirstName" Label="First Name" Variant="Variant.Outlined"></MudTextField>
                <ValidationMessage For="@(() => Model.FirstName)" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
                <div class="form-group">
                <MudTextField @bind-Value="Model.LastName" Label="Last Name" Variant="Variant.Outlined"></MudTextField>
                <ValidationMessage For="@(() => Model.LastName)" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
                <div class="form-group">
                <MudTextField @bind-Value="Model.EmailAddress" Label="Email Address" Variant="Variant.Outlined"></MudTextField>
                <ValidationMessage For="@(() => Model.EmailAddress)" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <button type="submit" class="btn btn-success form-save-btn">Save</button>
                <button type="button" class="btn btn-secondary form-cancel-btn" @onclick=NavBack>Cancel</button>
            </div>
        </div>
    </div>

    </EditForm>
</div>