@inherits PersonEditBase

@page "/people/new"
@page "/people/{Id:int}"

<PageTitle>@($"People[{Id}]")</PageTitle>

<h3>People</h3>

<EditForm Model="Model" OnSubmit="SubmitForm">
    <Blazored.FluentValidation.FluentValidationValidator />

    
    <div class="container-create">
    <div class="row">
        <div class="col">
            <div class="form-group">
                    <CoreLabel LabelText="First Name" />
                    <InputText class="form-control form-width" @bind-Value=Model.FirstName />
                <ValidationMessage For="@(() => Model.FirstName)" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                    <CoreLabel LabelText="Last Name" />
                    <InputText class="form-control form-width" @bind-Value=Model.LastName />
                <ValidationMessage For="@(() => Model.LastName)" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                    <CoreLabel LabelText="Email Address" />
                    <InputText class="form-control form-width" @bind-Value=Model.EmailAddress />
                <ValidationMessage For="@(() => Model.EmailAddress)" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <button type="submit" class="btn btn-success form-save-btn">Save</button>
                <button type="button" class="btn btn-secondary form-cancel-btn" @onclick=NavBack>Cancel</button>
            </div>
        </div>
    </div>
    </div>

</EditForm>